<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.title %}
      <title>{{ page.title | escape }}</title>
    {% elsif site.title %}
      <title>{{ site.title | escape }}</title>
    {% endif %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body>
    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | escape }}</h1>
        </a>
        <h2>{{ site.description | escape }}</h2>
      </div>
    </header>

    <main>
      <div class="container">
        {{ content }}
      </div>
    </main>

    <footer>
      <div class="container">
        {% if site.github_url %}
          <a id="a-github" href="{{ site.github_url }}">
            <i class="fab fa-github"></i> View on GitHub
          </a>
        {% endif %}
        <span>Theme by <a href="https://github.com/pages-themes/hacker">hacker</a></span>
      </div>
    </footer>
  </body>
</html>